/* - Lato*/
@font-face{
	font-family: Lato;
	src:url('../vendor/fonts/Lato/Lato-Regular.ttf');
}

/* - Catamaran*/
@font-face{
	font-family: Catamaran;
	src:url('../vendor/fonts/Catamaran/Catamaran-Regular.ttf');
}
